<!DOCTYPE html>
<html>
  <head>
    <title>Seire</title>
    <meta property="og:title" content="Seire" />
    <meta property='og:image' content="<%= image_url('project_pic.jpg') %>"/>
    <meta property="og:description"
    content="Seire is a clone of the popular exercise data app, Strava. It allows users to create exercise routes and track workouts. Seire compiles their stats and shows other users' workouts on their workout feed. Seire was built with the MapBox API, React/Redux frontend, and Ruby on Rails backend."
    />
    <meta property="og:url"
    content="https://seire.herokuapp.com"
    />
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="shortcut icon" href="favicon.ico">
    <script src="https://kit.fontawesome.com/ed8a86d2a5.js" crossorigin="anonymous"></script>

    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%# <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPBOX_API_KEY']}" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
